/*
* littlelink.io
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/*
* Built using on:
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Buttons
- Brand Styles

*/

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button {
    display: inline-block;
    text-decoration: none;
    height: 48px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    width: 300px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.1px;
    white-space: wrap;
    border-radius: 8px;
    cursor: pointer;
}
button:hover,
.button:focus {
    color: #333;
    border-color: #888;
    outline: 0;
    filter: brightness(90%);
}
.button.button-primary {
    color: #fff;
    filter: brightness(90%);
}
.button.button-primary:hover,
.button.button-primary:focus {
    color: #fff;
}

/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
    padding: 0px 8px 3.5px 0px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

/* Brand Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Default (this is great for your own brand color!) */
.button.button-default {
    color: #ffffff;
    background-color: #0085ff;
}

/* Discord */
.button.button-discord {
    color: #ffffff;
    background-color: #5865f2;
}

/* Facebook */
.button.button-facebook {
    color: #ffffff;
    background-color: #1877f2;
}

/* Facebook Messenger */
.button.button-messenger {
    color: #ffffff;
    background-image: linear-gradient(
        25deg,
        #0099ff,
        #5f5dff,
        #a033ff,
        #c740cc,
        #ff5280,
        #ff7061
    );
}

/* Figma */
.button.button-figma {
    color: #ffffff;
    background-color: #000000;
}

/* Github */
.button.button-github {
    color: #ffffff;
    background-color: #000000;
}

/* Goodreads */
.button.button-goodreads {
    color: #333333;
    background-color: #f3f1e6;
}

/* Instagram */
.button.button-instagram {
    color: #ffffff;
    background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
}

/* Kit */
.button.button-kit {
    color: #ffffff;
    background-color: #000000;
}

/* LinkedIn */
.button.button-linkedin {
    color: #ffffff;
    background-color: #2867b2;
}

/* Mastodon */
.button.button-mastodon {
    color: #ffffff;
    background-color: #1f232b;
}

/* Medium */
.button.button-medium {
    color: #ffffff;
    background-color: #000000;
}

/* Pinterest */
.button.button-pinterest {
    color: #000000;
    background-color: #ffe2eb;
}

/* Producthunt */
.button.button-producthunt {
    color: #da552f;
    border-style: solid;
    border-color: #da552f;
    border-width: 2px;
    background-color: #ffffff;
}

/* Reddit */
.button.button-reddit {
    color: #000000;
    background-color: #d7dfe2;
}

/* Snapchat */
.button.button-snapchat {
    color: #000000;
    background-color: #fffc00;
}

/* SoundCloud */
.button.button-soundcloud {
    color: #ffffff;
    background-color: #ff5500;
}

/* Spotify */
.button.button-spotify {
    color: #ffffff;
    background-color: #000000;
}

/* Steam */
.button.button-steam {
    color: #ffffff;
    background-color: #171a21;
}

/* Telegram */
.button.button-telegram {
    color: #ffffff;
    background-color: #3faee8;
}

/* TikTok */
.button.button-tiktok {
    color: #ffffff;
    background-color: #000000;
}

/* Tumblr */
.button.button-tumblr {
    color: #ffffff;
    background-color: #131313;
}

/* Twitch */
.button.button-twitch {
    color: #ffffff;
    background-color: #9146ff;
}

/* Twitter */
.button.button-twitter {
    color: #ffffff;
    background-color: #1da1f2;
}

/* Vimeo */
.button.button-vimeo {
    color: #ffffff;
    background-color: #1ab7ea;
}

/* PayPal */
.button.button-paypal {
    color: #ffffff;
    background-color: #003087;
}

/* YouTube */
.button.button-youtube {
    color: #ffffff;
    background-color: #000000;
}

/* WhatsApp */
.button.button-whatsapp {
    color: #ffffff;
    background-color: #455a64;
}

/* Wordpress */
.button.button-wordpress {
    color: #ffffff;
    background-color: #21759b;
}

/* Itch.io */
.button.button-itch {
    color: #ffffff;
    background-color: #fa5c5c;
}

/* Hangar V */
.button.button-hangarv {
    color: #ffffff;
    background-color: #4db2e5;
}

/* Gunpla Gallery */
.button.button-gunplagallery {
    color: #ffffff;
    background-color: #14171b;
}

/* Etsy */
.button.button-etsy {
    color: #ffffff;
    background-color: #f1641e;
}

/* Moxfield */
.button.button-moxfield {
    color: #ffffff;
    background-color: #731fa1;
}

/* Goblindex */
.button.button-goblindex {
    color: #ffffff;
    background-color: #4cb748;
}

/* Patreon */
.button.button-patreon {
    color: #ffffff;
    background-color: #052d49;
}

/* Bluesky */
.button.button-bluesky {
    color: #ffffff;
    background-color: #1185fe;
}


