@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/css/fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2');
}

@font-face {
  font-family: 'League Spartan';
  src: url('/css/fonts/LeagueSpartan-SemiBold.woff2') format('woff2');
}

:root {
  --black: #1c1d1e;
  --white: #ffffff;
  --accent: #3B719F;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  counter-reset: kb-section;
  background: var(--accent);
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.45) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.45) 1px, transparent 1px);
	background-size: 10px 10px, 10px 10px, 2px 2px, 2px 2px; */
  background-position: 0 0, center;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

twitter-widget {
  margin-left: auto;
  margin-right: auto;
}

twitter-widget {
  margin-left: auto;
  margin-right: auto;
}

a {
  color: var(--accent);
  text-decoration-color: var(--black);
}

.tag {
  background: var(--black);
  color: var(--white);
  padding: 0.5em;
  text-decoration: none;
}

.tag:hover {
  background-color: var(--accent);
}

.kb-more > a, .kb-more > a:visited {
  background: var(--black);
  color: var(--white);
  padding: 0.5em;
  text-transform: uppercase;
  color: var(--white);
  display: inline-flex;
  text-decoration: none;
  width: 100%;
}

.kb-more > a:hover {
  background-color: var(--accent);
}

/* Layout */
.kb-container {
  background: var(--white);
  margin: 0 auto;
  padding: 1rem;
  min-height: 100vh;
  width: 90%;
  box-shadow: 0px 5px 20px rgba(128, 128, 128, 0.25);
}

.kb-footer {
    background: var(--black);
    box-shadow: 0px 5px 20px rgba(128, 128, 128, 0.25);
    margin: 0 auto;
    width: 90%;
    padding: 1rem;
}

/* Modules */
/* Kitbash Nav */

.kb-nav {
  padding: 1rem;
  font-family: 'League Spartan', sans-serif;
  letter-spacing: 0.05em;
  background: var(--black);
  color: var(--white);
  display:flex;
  text-align: center;
  flex-direction: row;
}

.kb-nav a {
  color: white;
  border: 1px solid transparent;
  text-decoration:none;
  padding: 0.5rem 1rem;
  flex-grow: 1;
  text-align:center;
  text-transform:uppercase;
}

.kb-nav a:hover, .kb-nav-item-active {
  color: white;
  border: 1px solid var(--white);
}

/* Kitbash Header */
.kb-header {
  background: var(--white);
  color: var(--black);
  padding: 3rem 0;
  text-align: center;
  width: 100%;
}

.kb-header .kb-header-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.kb-header .kb-header-heading-title {
  text-transform: uppercase;
  border: 1rem solid var(--black);
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
  margin: 0 auto 1rem;
}

.kb-header .kb-header-heading-subtitle {
  text-transform: capitalize;
}

.kb-header #logo-bg {
  fill: var(--black);
}

.kb-header #logo-bg:hover {
  fill: var(--accent);
}

/* Kitbash Section */

.kb-section .kb-section-header {
  font-family: 'League Spartan', sans-serif;
  font-variation-settings: "wght" 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: var(--black);
  color: var(--white);
  margin: 0;
  padding: 0.5em;
}

/* Kitbash Section Entry */

.kb-section-entry-container {
  display: flex;
  flex-wrap: wrap;
}

.kb-section-entry::before {
  padding: 0.25em 0.5em;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 1.5em;
  counter-increment: kb-section;
  content: counter(kb-section);

  display: inline-block;

  background: var(--black);
  color: var(--white);
}

.kb-section-entry {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
}

.kb-section-entry p {
  padding: 0 1em;
}

.kb-section-entry:not(.primary) {
  border-top: 2px solid var(--black);
}

.kb-section-entry.primary {
  min-height: 10em;
  width: 100%;
}

.kb-section-entry:nth-child(1) {
  flex: initial;
}

/** Hero section overrides */
.kb-section.hero .kb-section-entry {
  flex: auto;
  border-top: 0;
  width: auto;
}

.kb-section.hero .kb-section-entry.figure::before {
    padding: 0;
    content: '';
    counter-increment: none;
}

.kb-section.hero .kb-section-entry.figure svg {
  width: 20em;
  padding: 1em;
  border-radius: 25px;
}

.kb-me #me-bg {
  fill: var(--accent);
}

.kb-section-entry-title {
  font-family: 'League Spartan', sans-serif;
  line-height: 1.5em;
  margin-top: 0;
  padding: 0 0.75em;
  color: var(--accent);
  text-decoration: underline;
  text-decoration-color: var(--black);
}

/* Media Queries */
/* TODO: Fix breakpoints */

@media (min-width: 20rem) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .kb-section-entry {
    flex: initial;
  }

  .kb-more {
    width: 100%;
  }
}

/* wat */
@media (max-width: 40rem) {
  .kb-nav {
   flex-direction: column;
  }
}

@media (min-width: 50rem) { /* tablet, landscape iPad, lo-res laptops ands desktops */
  .kb-section-entry {
    flex-basis: 50%;
  }

  .kb-more {
    width: 50%;
  }
}

@media (min-width: 80rem) { /* hi-res laptops and desktops */
  .kb-section-entry {
    flex-basis: 33.3333%;
  }

  .kb-more {
    width: 33.3333%;
  }
}
