---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<section class="kb-section">
    <h1 class="kb-section-header">Coming Soon</h1>
    <div class="kb-section-entry-container">
      <div class="kb-section-entry primary">
        <h2 class="kb-section-entry-title">Hello World, Again</h2>
        <p>
          It's been a while since I've built a website, and in that time the web has changed a lot. This will serve as my personal learning journey to get reaquainted with the basics of web - again.
        </p>
        <p>
          The design is WIP, the content is WIP, the everything about it is very much a work in progress. This is just the first step of a very long, planned out process I am looking forward to completing. Many posts will be written, once I get that set up. This block of text will even get converted into a blog post at some point.
        </p>
        <p>
          If you're reading this, that means I've actually gotten my head around docker containers.
        </p>
      </div>
  </section>
