<section class="kb-section hero">
    <h1 class="kb-section-header">Intro</h1>
    <div class="kb-section-entry-container">
        <div class="kb-section-entry primary">
            <h2 class="kb-section-entry-title"><span>Hey there, I'm Michael</span></h2>
            <p>Often found around the web as <strong>sprngr</strong> (spring-ur).</p>
            <p>I make software, art, games, or whatever I can get my hands on.</p>
            <p>This website is a showcase of selected personal and commission projects I've worked on.</p>
            <p>Want to get in touch, do a collab, get a commission, or just say hi?</p>
            <p>Find me on <a href="https://sprngr.com/links">your preferred platform</a> or feel free to drop an email in my inbox - <a href="mailto:mike@sprngr.com">mike@sprngr.com</a>.
        </div>
        <div class="kb-section-entry figure">
            {% include "snippets/its-me.njk" %}
        </div>
    </div>
</section>