<section class="kb-section hero">
    <h1 class="kb-section-header">Intro</h1>
    <div class="kb-section-entry-container">
        <div class="kb-section-entry primary">
            <h2 class="kb-section-entry-title"><span>Hey there, I'm Michael</span></h2>
            <p>Often found around the web as <a href="https://github.com/sprngr">sprngr</a>.</p>
            <p>I make software, pixel art, scale model kits, games, or whatever I can get my hands on.</p>
            <p>This website is a collection of selected projects I want to showcase & miscellaneous musings that pop into my head and have managed to be written down.</p>
            <p>Want to get in touch, collab, or just say hi? Find me on <a href="https://sprngr.com/links">your preferred platform</a> or feel free to <a href="mailto:mike@sprngr.com">send an email</a>.
        </div>
        <div class="kb-section-entry figure">
            {% include "snippets/its-me.njk" %}
        </div>
    </div>
</section>