<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }} | Michael Springer</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body>
    <div class="kb-container">
      <nav class="kb-nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <a class="kb-nav-item{% if entry.url == page.url %} kb-nav-item-active{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
      {%- endfor %}
      </nav>
      <header class="kb-header">
        <div class="kb-header-wrapper">
          <h1 class="kb-header-heading-title">{{ metadata.title }}</h1>
          <h2 class="kb-header-heading-subtitle">This is a subtitle</h2>
        </div>
      </header>
      <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>
    </div>
    <footer class="kb-footer">
    <nav class="kb-nav">
      <a href="https://twitter.com/sprngr_">Twitter</a>
      <a href="https://twitch.tv/sprngr_">Twitch</a>
      <a href="https://github.com/sprngr">Github</a>
      <a href="https://sprngr.itch.io">Itch</a>
    </nav>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
