---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% set postslist = collections.posts | head(-3) %}
{% set postslistHeader = "Posts" %}
{% set postsPrimary = postslist.length - 1 %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the posts archive</a>.</p>