---
layout: layouts/home.njk
title: Home
eleventyNavigation:
  key: Home
  order: 1
---

{% include "snippets/about.njk" %}

{% set collectionTag = "visual-works" %}
{% set entryCollection = collections[collectionTag] %}
{% set entrylist = entryCollection | head(-7) %}
{% set entrylistHeader = "Visual Works" %}

{% include "snippets/entrylist.njk" %}

<p class="kb-more"><a href="{{ '/'+collectionTag+'/' | url }}">Even more pixels & vectors this way↗</a></p>

{% set collectionTag = "projects" %}
{% set entryCollection = collections[collectionTag] %}
{% set entrylist = entryCollection | head(-4) %}
{% set entrylistHeader = "Projects" %}

{% include "snippets/entrylist.njk" %}

<p class="kb-more"><a href="{{ '/'+collectionTag+'/' | url }}">Check out even more of my selected projects↗</a></p>