---
layout: layouts/home.njk
title: Home
eleventyNavigation:
  key: Home
  order: 1
---

{% include "snippets/about.njk" %}

{% set entryCollection = collections.posts %}
{% set entrylist = entryCollection | head(-4) %}
{% set entrylistHeader = "Posts" %}
{% set entryPrimary = entrylist.length %}
{% include "snippets/entrylist.njk" %}

<p class="kb-more"><a href="{{ '/posts/' | url }}">More shower thoughts this way</a></p>

{% set entryCollection = collections.projects %}
{% set entrylist = entryCollection | head(-4) %}
{% set entrylistHeader = "Projects" %}
{% set entryPrimary = entrylist.length - 1 %}
{% include "snippets/entrylist.njk" %}

<p class="kb-more"><a href="{{ '/projects/' | url }}">Check out even more of my selected works</a></p>