---
layout: layouts/home.njk
permalink: /posts/
title: Posts
---

{% set entryCollection = collections.posts %}
{% set entrylist = entryCollection %}
{% set entrylistHeader = "Posts" %}
{% include "snippets/entrylist.njk" %}
