---
layout: layouts/home.njk
permalink: /posts/
title: Posts Archive
eleventyNavigation:
  key: Posts
  order: 2
---

{% set postslist = collections.posts %}
{% set postsPrimary = postslist.length - 1 %}
{% set postslistHeader = "Posts Archive" %}
{% include "postslist.njk" %}
