---
layout: layouts/home.njk
permalink: /posts/
title: Posts Archive
eleventyNavigation:
  key: Posts
  order: 2
---

{% set entryCollection = collections.posts %}
{% set entrylist = entryCollection %}
{% set entrylistHeader = "Posts Archive" %}
{% set entryPrimary = entrylist.length - 1 %}
{% include "snippets/entrylist.njk" %}
