---
layout: layouts/home.njk
permalink: /visual-works/
title: Visual Works
eleventyNavigation:
  key: Visual Works
  order: 2
---

{% set entryCollection = collections["visual-works"] %}
{% set entrylist = entryCollection %}
{% set entrylistHeader = "Visual Works" %}
{% set entryPrimary = entrylist.length - 1 %}
{% include "snippets/entrylist.njk" %}
